.app_light_theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #02023e;
    --primary-color: #ce7c10;
    --secondary-color: #0432d8;
    --inverted-primary-color: #50d000;
    --inverted-secondary-color: #00a600;
}
