.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #02023e;
    --primary-color: #ce7c10;
    --secondary-color: #0432d8;
    --inverted-primary-color: #bf0b5f;
    --inverted-secondary-color: #04ff04;
}
